@import "../styles/colors.scss";

.search-bar {
  display: flex;
  align-items: center;
  border: $primary 1px solid;
  padding: 0.5rem;
}

.search-bar input[type="text"] {
  border: none;
}

.search-bar input[type="text"]:focus {
  outline: none;
}
